// Colors
$color-white: #ffffff;
$color-main-black: #1e1d23;
$color-white-smoke: #f5f5f5;
$color-blue-indigo: #d0ebff;
$color-brown-rosy: #917145;
$color-brown-button: #97784c;
$color-vivid-red: #cf2e2e;
