.deals-section {
	padding: 25px 0;
}
section {
	padding: 25px 0;
}
.sell-product-wrapper {
	position: relative;
}
.deals-tittle {
	color: #253d4e;

	margin-bottom: 44px;
	h3 {
		margin-right: 3.2rem;
		font-weight: 900;
	}
}
.deal-img {
	img {
		border-radius: 15px;
	}
}

.deals-countdown {
	display: flex;
	position: absolute;
	top: 170px;
	left: 36px;
}
.product-content-wrapper {
	display: flex;
	justify-content: center;
}
.countdown-section {
	@include flex-center;
	flex-direction: column;
	margin-right: 16px;
	background-color: #fff;
	width: 70px;
	height: 70px;
	border-radius: 5px;

	.countdown-amount {
		font-size: 20px;
		font-weight: 900;
		color: $color-main-green;
	}
	.countdown-period {
		font-size: 14px;
		font-weight: 500;
		color: #7e7e7e;
	}
}

.deals-content {
	// position: absolute;
	// top: 250px;
	// left: 30px;

	transform: translateY(-80px);
	background-color: #fff;
	width: 350px;
	padding: 25px 30px;
	border-radius: 10px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.sub-section-title {
	font-size: 32px;
	font-weight: 900;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 30px;
	&::after {
		content: "";
		width: 80px;
		height: 2px;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: #bce3c9;
	}
}

.product-list {
	margin-bottom: 20px;
	transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);

	&:hover {
		transform: translateY(-5px);
	}
	img {
		border-radius: 10px;
	}
}
