.newsletter-inner {
	height: 417px;
	padding: 84px 78px;
	background-image: url("../sass/uploads/images/ads/banner-10.png");
	position: relative;
	border-radius: 20px;

	.newsletter-content {
		h2 {
			font-size: 40px;
			font-weight: 900;
			margin-bottom: 30px;
		}
		p {
			font-size: 1.8rem;
			color: #7e7e7e;
			margin-bottom: 65px;
		}
		form {
			display: flex;
			max-width: 450px;
			position: relative;
		}
		input {
			background: url("../sass/uploads/images/slider/icon-plane.png") no-repeat
				25px center;
			background-color: #fff;
			width: 100%;
			height: 64px;
			border-radius: 50px;
			outline: none;
			border: none;
			padding-left: 58px;
			font-size: 16px;
		}
		button {
			width: 178px;
			margin-left: -90px;
			border-radius: 50px;
			display: inline-block;
			background-color: $color-main-green;
			font-size: 16px;
			text-align: center;
			color: #fff;
			&:hover {
				background-color: #35a571;
			}
		}
		img {
			position: absolute;
			bottom: 0;
			right: 50px;
			max-width: 40%;
		}
	}
}
