.cart-text-content {
	span {
		color: $color-main-green;
		font-weight: 800;
	}
}
.cart-item {
	flex-direction: row;
	border: none;
	margin: 0;
	margin-top: 20px;
	&:hover {
		border: none;
	}
	.default-img,
	.hover-img {
		max-width: 120px;
		border: 1px solid #ececec;
		border-radius: 15px;
	}
}
.cart-heading {
	color: #253d4e;
	font-size: 17px;
	padding: 18px 15px;
	background-color: #ececec;
	font-family: "Quicksand", sans-serif;
	font-size: 17px;
	font-weight: 700;
	border-radius: 15px;
}
.cart-product-info {
	display: flex;
	align-items: center;
	.unit-price,
	.unit-subtotal {
		font-size: 24px;
	}
	.unit-price {
		color: #7e7e7e;
	}
	.unit-subtotal {
		color: $color-main-green;
	}
}

.cart-heading,
.cart-product-info {
	span:not(:last-child) {
		padding: 0 10px;
	}
	.fa-trash {
		padding: 0 20px;
		font-size: 20px;
		cursor: pointer;
	}
}

.shopping-summary table thead th {
	background-color: #ececec;
	padding: 18px 0;
	font-family: "Quicksand", sans-serif;
	font-size: 17px;
	font-weight: 700;
	color: #253d4e;
}

.cart-heading,
.cart-product-wrapper {
	display: flex;
	justify-content: space-between;
}
.cart-info-table-wrapper {
	border: 1px solid #e9ecef;
	border-radius: 15px;
}
.shipping-info,
.shipping-location,
.total-price-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #e9ecef;
	padding: 0 8px;

	p {
		font-size: 18px;
		color: #b6b6b6;
		font-weight: 700;
		padding: 10px 8px;
	}
	h6 {
		font-size: 18px;
		font-weight: 700;
		padding: 0 8px;

		color: #253d4e;
	}
	span {
		font-size: 18px;
		color: $color-main-green;
		font-weight: 700;
		padding: 0 8px;
	}
}
.cart-proceed {
	.about-info-btn {
		padding: 12px 120px;
	}
}

.quantity-box {
	position: relative;
	margin: 0 6px 15px 0;
	background: #fff;
	border: 2px solid #3bb77e !important;
	font-size: 16px;
	font-weight: 700;
	color: #3bb77e;
	border-radius: 5px;
	padding: 11px 20px 11px 30px;
	max-width: 90px;
}

.qty-up {
	cursor: pointer;
	position: absolute;
	top: 4px;
}
.qty-down {
	cursor: pointer;

	position: absolute;
	bottom: 4px;
}
