.tabs-button {
	cursor: pointer;
	font-size: 16px;
	font-weight: 800;
	color: #7e7e7e;
	background-color: #fff;
	border: 1px solid #e9ecef;
	padding: 15px 30px;
	width: 90%;
	border-radius: 15px;
	margin-bottom: 10px;
	text-align: start;
	&:active {
		background-color: $color-main-green;
		color: #fff;
	}
}

.tab-info {
	padding: 15px;
	a {
		color: $color-main-green;
	}
}
.tab-content {
	display: none;
}
.tab-content--active {
	display: block;
}
.tab--active {
	background-color: $color-main-green;
	color: #fff;
}

.table tr {
	border: 1px solid #e9ecef;
}
.table {
	font-size: 16px;
	a {
		color: $color-main-green;
		transition: 0.5s;
		&:hover {
			color: #fdc040;
		}
	}
}
.card {
	border: none;
	.card-header {
		border: none;
		background-color: #fff;
	}
}
.order-input {
	input {
		border: 1px solid #ececec;
		border-radius: 10px;
		height: 64px;
		box-shadow: none;
		padding-left: 20px;
		font-size: 16px;
		width: 100%;
		outline: none;
	}
	label {
		font-size: 16px;
		margin-bottom: 10px;
	}
}
.contact-form-style {
	label {
		font-size: 16px;
		margin-bottom: 10px;
	}
	button {
		font-size: 17px;
		font-weight: 500;
		padding: 20px 40px;
		color: #ffffff;
		border: none;
		background-color: #253d4e;
		border-radius: 10px;
		transition: all 300ms linear 0s;
		&:hover {
			background-color: $color-main-green;
		}
	}
}
address {
	font-size: 16px;
}
#account {
	a {
		color: $color-main-green;
	}
}

.border-radius-15 {
	border-radius: 15px;
}

.login-header {
	h3 {
		font-size: 42px;
		font-weight: 900;
	}
	span {
		font-size: 16px;
		font-weight: 500;
		a {
			color: $color-main-green;
			&:hover {
				color: #fdc040;
			}
		}
	}
}

.login-input {
	margin-bottom: 20px;
	input {
		@include input;
	}
}

.check-security {
	input {
		@include input;
	}
}

.login-bottom,
.login-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.security-code {
	span {
		border-radius: 10px;
		padding: 15px 40px;
		font-size: 24px;
		font-weight: 700;
		background: #bce3c9;
		font-family: "Lato", sans-serif;
		b:first-child {
			color: $color-main-green;
		}
		b:last-child {
			color: orange;
		}
		b:nth-child(2) {
			color: palevioletred;
		}
		b:nth-child(3) {
			color: turquoise;
		}
	}
}

.custom-checkbox {
	font-size: 16px;
}
.login-footer {
	a {
		color: #b6b6b6;
		&:hover {
			color: $color-main-green;
		}
	}
}

.login-button {
	button {
		@include blueButton;
		font-weight: 900;
		&:hover {
			background-color: $color-main-green;
			color: #fff;
		}
	}
}

.register-img {
	width: 100%;
}

.validation {
	color: red;
	font-size: 12px;
	padding-left: 5px;
	display: none;
}

.error-input {
	border: 1px solid red !important;
	&:focus {
		border: 1px solid red !important;
	}
}
