@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block; }
  a:hover {
    text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

li {
  list-style: none; }

body {
  font-family: "Quicksand", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  font-family: "Quicksand", sans-serif; }

h1 {
  font-size: 72px;
  color: #253d4e; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 24px;
  color: #253d4e; }

a,
button,
img,
input,
span,
h4 {
  transition: all 0.3s ease 0s; }

.header-top {
  font-family: "Lato", sans-serif; }

.header-action a {
  font-family: "Lato", sans-serif; }
  .header-action a span {
    font-family: "Lato", sans-serif; }

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
  font-size: 14px; }

.header-info ul {
  display: flex; }
  .header-info ul li {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 20px; }
    .header-info ul li:not(:last-child)::before {
      content: "";
      position: absolute;
      right: -10px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 1px;
      height: 10px;
      background: #dedfe2; }
    .header-info ul li a {
      font-weight: 500;
      color: #7e7e7e; }
      .header-info ul li a:hover {
        color: #333; }

.header-text-center span {
  font-weight: 700;
  color: #7e7e7e; }

.header-right ul {
  display: flex; }
  .header-right ul .header-number {
    color: #3bb77e; }
  .header-right ul li {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 20px; }
    .header-right ul li .language-dropdown,
    .header-right ul li .currency-dropdown {
      color: #7e7e7e; }
    .header-right ul li:not(:last-child)::before {
      content: "";
      position: absolute;
      right: -10px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 1px;
      height: 10px;
      background: #dedfe2; }
    .header-right ul li:hover {
      color: #333; }

.header-middle {
  display: flex;
  align-items: center;
  padding: 30px 0px; }

.header-logo {
  margin-right: 70px; }
  .header-logo img {
    min-width: 180px; }

.header-search {
  width: 100%; }
  .header-search form {
    display: flex;
    align-items: center;
    border: 2px solid #bce3c9;
    border-radius: 4px;
    max-width: 700px;
    background-color: #fff;
    height: 50px;
    font-size: 14px; }
    .header-search form span {
      position: relative;
      margin-left: 15px;
      font-size: 15px;
      font-weight: 800;
      color: #253d4e;
      width: 144px; }
      .header-search form span::after {
        content: "";
        height: 20px;
        width: 1px;
        background-color: #cacaca;
        position: absolute;
        right: 0;
        top: 2px; }
    .header-search form input {
      position: relative;
      width: 100%;
      max-width: 600px;
      border-width: 0px;
      border-radius: 0 5px 5px 0;
      margin-left: 20px;
      background-color: #fff;
      border: none;
      outline: none;
      background-image: url(../sass/uploads/images/header/search-icon.png);
      background-repeat: no-repeat;
      background-position: center right; }

.header-middle-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; }

.header-actions-right {
  display: flex; }

.header-action {
  position: relative;
  display: flex;
  padding: 0 10px; }
  .header-action a {
    display: inline-block; }
    .header-action a img {
      max-width: 25px; }
    .header-action a .green-icon {
      background-color: #3bb77e;
      position: absolute;
      left: 26px;
      top: -10px;
      color: #ffffff;
      height: 20px;
      width: 20px;
      border-radius: 100%;
      font-weight: 500;
      font-size: 12px;
      text-align: center;
      line-height: 20px; }
    .header-action a .action-nav {
      color: #7e7e7e;
      font-size: 16px;
      line-height: 2; }
