.featured-categories-section {
	padding: 25px 0;
}
.featured-categories-title {
	color: #253d4e;
	display: flex;
	align-items: flex-end;
	margin-bottom: 44px;
	h3 {
		margin-right: 3.2rem;
		font-weight: 900;
	}
	ul {
		display: flex;
		li {
			padding: 0 10px;
			a {
				font-size: 1.8rem;
				font-weight: 500;
				color: #253d4e;
				&:hover {
					color: $color-main-green;
				}
			}
		}
	}
}

.owl-two {
	position: relative;
	.category-card {
		cursor: pointer;
		width: 136px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		color: #253d4e;
		padding: 30px 0;
		border-radius: 10px;
		border: 1px solid #f4f6fa;
		transition: all 0.3s ease 0s;

		&:hover {
			a {
				color: $color-main-green;
			}
			img {
				transition: 0.5s;
				transform: scale(1.1);
			}
			border: 1px solid $color-main-green;
		}

		img {
			width: 80px;
			height: 80px;
		}
		a {
			font-weight: 900;
			color: #253d4e;
			font-size: 16px;
		}
		span {
			font-size: 14px;
			color: #7e7e7e;
		}
	}
}

.cat-prev-btn {
	position: absolute;
	top: -80px;
	right: 70px;
}
.cat-next-btn {
	position: absolute;
	top: -80px;
	right: 10px;
}
// category card colors

.category-card_1,
.category-card_8 {
	background-color: #f2fce4;
}
.category-card_2,
.category-card_9 {
	background-color: #fffceb;
}
.category-card_3,
.category-card_11 {
	background-color: #ecffec;
}
.category-card_4,
.category-card_7,
.category-card_10 {
	background-color: #feefea;
}
.category-card_5 {
	background-color: #fff3eb;
}
.category-card_6 {
	background-color: #fff3ff;
}
