.contact-info {
	font-size: 16px;
	color: #253d4e;

	li {
		margin-bottom: 15px;
	}
}

.footer-link {
	h4 {
		margin-bottom: 10px;
	}
	ul {
		li {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
			a {
				color: #253d4e;
				text-decoration: none;
				font-size: 16px;
				&:hover {
					color: #35a571;
					transform: translateX(5px);
				}
			}
		}
	}
}

.download-app {
	display: flex;
	margin: 25px 0 33px;
	a {
		margin-right: 10px;
		&:hover {
			transform: translateY(-3px);
		}
		img {
			max-width: 128px;
		}
	}
}
.footer-bottom-wrapper {
	padding-bottom: 30px;
}

.footer-bottom {
	border-top: 1px solid #bce3c9;
	margin-bottom: 30px;
}
.hotline {
	margin-right: 30px;
	img {
		max-width: 35px;
		margin-right: 12px;
	}
}

.mobile-social-icon {
	a {
		cursor: pointer;
		transition: all 0.3s ease 0s;

		width: 25px;
		height: 25px;
		border-radius: 50%;
		background-color: #35a571;
		margin-right: 5px;
	}
}
