@media all and (min-width: 1400px) {
	.container {
		max-width: 100% !important;
	}
}

// header top starts

.header-top {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: 1px solid #ececec;
	font-size: 14px;
}

.header-info {
	ul {
		display: flex;
		li {
			display: flex;
			align-items: center;
			position: relative;
			margin-right: 20px;
			&:not(:last-child) {
				&::before {
					content: "";
					position: absolute;
					right: -10px;
					top: 50%;
					-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
					width: 1px;
					height: 10px;
					background: #dedfe2;
				}
			}
			a {
				font-weight: 500;
				color: #7e7e7e;
				&:hover {
					color: #333;
				}
			}
		}
	}
}

.header-text-center {
	span {
		font-weight: 700;
		color: #7e7e7e;
	}
}

.header-right {
	ul {
		display: flex;
		.header-number {
			color: $color-main-green;
		}
		li {
			display: flex;
			align-items: center;
			position: relative;
			margin-right: 20px;
			.language-dropdown,
			.currency-dropdown {
				color: #7e7e7e;
			}
			&:not(:last-child) {
				&::before {
					content: "";
					position: absolute;
					right: -10px;
					top: 50%;
					-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
					width: 1px;
					height: 10px;
					background: #dedfe2;
				}
			}
			&:hover {
				color: #333;
			}
		}
	}
}

// header top ends

//header middle starts

.header-middle {
	display: flex;
	align-items: center;
	padding: 30px 0px;
}
.header-logo {
	margin-right: 70px;
	img {
		min-width: 180px;
	}
}
.header-search {
	width: 100%;
	form {
		display: flex;
		align-items: center;
		border: 2px solid #bce3c9;
		border-radius: 4px;
		max-width: 700px;
		background-color: #fff;
		height: 50px;
		font-size: 14px;

		span {
			position: relative;
			margin-left: 15px;
			font-size: 15px;
			font-weight: 800;
			color: #253d4e;
			width: 144px;
			&::after {
				content: "";
				height: 20px;
				width: 1px;
				background-color: #cacaca;
				position: absolute;
				right: 0;
				top: 2px;
			}
		}
		input {
			position: relative;
			width: 100%;
			max-width: 600px;
			border-width: 0px;
			border-radius: 0 5px 5px 0;
			margin-left: 20px;
			background-color: #fff;
			border: none;
			outline: none;
			background-image: url(../sass/uploads/images/header/search-icon.png);
			background-repeat: no-repeat;
			background-position: center right;
		}
	}
}

.header-middle-right {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.header-actions-right {
	display: flex;
}
.header-action {
	position: relative;
	display: flex;
	padding: 0 10px;

	a {
		display: inline-block;
		img {
			max-width: 25px;
		}
		.green-icon {
			background-color: $color-main-green;
			position: absolute;
			left: 26px;
			top: -10px;
			color: #ffffff;
			height: 20px;
			width: 20px;
			border-radius: 100%;
			font-weight: 500;
			font-size: 12px;
			text-align: center;
			line-height: 20px;
		}
		.action-nav {
			color: #7e7e7e;
			font-size: 16px;
			line-height: 2;
		}
	}
}

//header middle ends

//header bottom starts

.header-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
	font-size: 20px;
}
.categories-button-wrapper {
	display: flex;
	.categories-button {
		display: flex;
		align-items: center;
		height: 44px;
		background-color: $color-main-green;
		padding: 0 20px;
		border-radius: 5px;
		color: #fff;
		&:hover {
			background-color: #35a571;
		}
		span {
			font-size: 17px;
			font-weight: 700;
		}
		.fi-rr-apps {
			font-size: 16px;
			margin: 4px 5px 0 0;
		}
		.fi-rr-angle-down {
			font-size: 10px;
			margin-left: 10px;
			margin-top: 5px;
		}
	}
}

.header-bottom-nav {
	height: 70px;

	ul {
		display: flex;
		li {
			display: flex;
			align-items: center;
			padding: 0 17px;
			a {
				color: #253d4e;
				font-weight: 900;
				&:hover {
					color: $color-main-green;
				}
			}
		}
	}
}
.hot-deals {
	padding-right: 30px;
	img {
		margin-right: 8px;
	}
}

.hotline {
	display: flex;
	img {
		min-width: 35px;
		margin-right: 12px;
	}
	p {
		font-size: 28px;
		font-weight: 900;
		line-height: 1;
		color: $color-main-green;
		span {
			font-weight: 500;
			font-size: 12px;
			font-family: "Lato", sans-serif;
			color: #7e7e7e;
			display: block;
			letter-spacing: 0.9px;
		}
	}
}
